@import "./reset.css";

:root {
    --app-dark-bg:#1a1d28;
    --app-red:#ff3c57;
    --app-yellow:#ffd13c;
    --app-green:#33ab4e;
    --app-green-hover:#158f32;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-pink:#f85fdc;
    --app-orange-hover:#fe7a2d;
    --app-blue:#4267B2;
    --app-blue-hover:#305bb3;
    --app-white:#f4f6f8;
    --app-black:#181818;
    --app-dark-grey:#222;
    --app-medium-grey:#b0b3b8;
    --app-light-grey:#e4e6eb;
    --app-light-text-color: #f4f6f8;
    --app-dark-text-color: #1c1c1c;
    --app-grey-text-color: #343434;

    --app-btn-height: 46px;
    --app-btn-width: 100%;
    --app-letter-spacing: 0.2px;
    --app-header-line-height: 56px;
    --app-text-line-height: 50px;
    --app-main-font-size: 18px;
    --app-secondary-font-size: 14px;
}
    
body {
    background-color: var(--app-black);
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/**************************************************/
/*****       Main                            ******/
/**************************************************/
h1, h2, h3, a, p {
    color: rgb(244, 246, 248);
}

h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
}

p {
    font-size: 17px;
}

/**************************************************/
/*****       Main                            ******/
/**************************************************/

.flexbox {
    display: flex;
    justify-content: space-between;
}

/**************************************************/
/*****      HEADER                           ******/
/**************************************************/

header {
    line-height: var(--app-header-line-height);
    height: 56px;
    min-width: 350px;
    background-color: var(--app-dark-grey);
}

header h1 {
    font-size: 22px;
    font-weight: 600;
    color: var(--app-blue);
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--app-white) url("../images/avatar.png") center center / cover no-repeat;
    line-height: var(--app-header-line-height);
    position: relative;
    top: 50%;
    transform: translateY(5%);
}

/* Show regular nav menu when screen width is 923px and above */
@media only screen and (min-width: 923px) { 

    .burger-menu {
        display: none;
    }
    
    nav ul {
        list-style: none;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li + li {
        margin-left: 18px;
    }
    
    nav ul li a {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: var(--app-letter-spcaing);
        cursor: pointer;
        text-decoration: none;
        color: var(--app-light-text-color);
        position: relative;
        transition: color 0.25s ease-in-out;
    }

    nav ul li a:hover {
        color: var(--app-blue);
    }
}

/* Show hamburger icon when screen width is below 922px */
@media only screen and (max-width: 922px) {
    nav {
        display: none;
    }

    .burger-menu {
        display: block;
        color: var(--app-light-text-color);
        font-size: var(--app-main-font-size);
        line-height:  var(--page-header-line-height);
    }
    
    .burger-menu:hover {
        display: block;
        color: var(--app-blue);
    }
}

/**************************************************/
/*****      MAIN CONTAINER                   ******/
/**************************************************/

.timeline {
    width: 50%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-post {
    padding: 20px;
    width: 100%;
    background-color: var(--app-dark-grey);
    margin: 40px 0px;
    border-radius: 5px;
}

.timeline-post .form textarea {
    width: 100%;
    height: 100px;
    border: none;
    background: none;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    color: var(--app-white);
    resize: none;
}

.timeline-post .form .flexbox {
    margin-top: 20px;
}

.timeline-post .form .flexbox input[type="file"] {
    width: 88%;
}

.timeline-post .form .flexbox button {
    width: 12%;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: background-color 0.25s ease-in-out;
    background-color: var(--app-blue);
    color: #fff;
    padding: 0 10px;
}

.timeline-post .form .flexbox button:hover {
    background-color: var(--app-blue-hover);
}




