@import "./reset.css";

:root {
    --app-dark-bg:#1a1d28;
    --app-red:#ff3c57;
    --app-yellow:#ffd13c;
    --app-green:#33ab4e;
    --app-green-hover:#158f32;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-pink:#f85fdc;
    --app-orange-hover:#fe7a2d;
    --app-blue:#4267B2;
    --app-blue-hover:#305bb3;
    --app-white:#f4f6f8;
    --app-black:#181818;
    --app-dark-grey:#222;
    --app-medium-grey:#b0b3b8;
    --app-light-grey:#e4e6eb;
    --app-light-text-color: #f4f6f8;
    --app-dark-text-color: #1c1c1c;
    --app-grey-text-color: #343434;

    --app-btn-height: 46px;
    --app-btn-width: 100%;
    --app-letter-spacing: 0.2px;
    --app-header-line-height: 56px;
    --app-text-line-height: 50px;
    --app-main-font-size: 18px;
    --app-secondary-font-size: 14px;
}
    
body {
    background-color: var(--app-black);
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/**************************************************/
/*****       Main                            ******/
/**************************************************/
/* h1, h2, h3, a, p {
    color: rgb(244, 246, 248);
} */

h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
}

p {
    font-size: 17px;
}

/**************************************************/
/*****       Main                            ******/
/**************************************************/

.flexbox {
    display: flex;
}

/**************************************************/
/*****      HEADER                           ******/
/**************************************************/

header {
    line-height: var(--app-header-line-height);
    height: 56px;
    min-width: 350px;
    background-color: var(--app-dark-grey);
}

header .flexbox {
    justify-content: space-between;
}

header h1 {
    font-size: 22px;
    font-weight: 600;
    color: var(--app-blue);
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(123, 146, 192, 0.5);
    line-height: var(--app-header-line-height);
    position: relative;
    top: 50%;
    transform: translateY(5%);
    overflow: hidden;
}

.avatar img {
    font-size: 5px;
    color: var(--app-white);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

/* Show regular nav menu when screen width is 923px and above */
@media only screen and (min-width: 923px) { 

    .burger-menu {
        display: none;
    }
    
    nav ul {
        list-style: none;
    }
    
    nav ul li {
        display: inline;
    }
    
    nav ul li + li {
        margin-left: 18px;
    }
    
    nav ul li a {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: var(--app-letter-spcaing);
        cursor: pointer;
        text-decoration: none;
        color: var(--app-light-text-color);
        position: relative;
        transition: color 0.25s ease-in-out;
    }

    nav ul li a:hover {
        color: var(--app-blue);
    }
}

/* Show hamburger icon when screen width is below 922px */
@media only screen and (max-width: 922px) {
    nav {
        display: none;
    }

    .burger-menu {
        display: block;
        color: var(--app-light-text-color);
        font-size: var(--app-main-font-size);
        line-height:  var(--page-header-line-height);
    }
    
    .burger-menu:hover {
        display: block;
        color: var(--app-blue);
    }
}

/**************************************************/
/*****   MAIN CONTAINER (Post)               ******/
/**************************************************/

.timeline {
    width: 50%;
    margin-inline: auto;
}

.timeline-post {
    padding: 20px;
    width: 100%;
    background-color: var(--app-dark-grey);
    margin-top: 20px;
    border-radius: 5px;
}

.timeline-post .form textarea {
    width: 100%;
    height: 100px;
    border: none;
    background: none;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    color: var(--app-white);
    resize: none;
}

.timeline-post .form .flexbox {
    margin-top: 20px;
}

.timeline-post .form .flexbox {
    justify-content: space-between;
    align-items: center;
}

.file-name-selected {
    width: 80%;
    height: 40px;
    text-align: left;
    color: var(--app-white);
    display: flex;
    align-items: center;
}

#fileInput{
    display: none;
}

.file-icon{
    cursor: pointer;
    color: var(--app-white);
}

.timeline-post .form .flexbox button {
    height: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: background-color 0.25s ease-in-out;
    background-color: var(--app-blue);
    color: #fff;
    padding: 0 10px;
}

.timeline-post .form .flexbox button:hover {
    background-color: var(--app-blue-hover);
}

/**************************************************/
/*****   MAIN CONTAINER (Grid)               ******/
/**************************************************/

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.grid > div.card {
    color: var(--app-dark-text-color);
    border: 1px solid rgba(58, 58, 58, 0.3);
    background-color: var(--app-white);
    border-radius: 5px;
    animation: appear 0.4s ease-in;
    transition: border 0.25s ease-in-out;
    padding: 15px;
}

.grid > div.card .post-header {
    line-height: 30px;
    margin-bottom: 10px;
}

.grid > div.card .post-header img {
    width: 30px;
    height: 30px;
    text-align: left;
}

.grid > div.card .post-header h4 {
    color: var(--app-dark-text-color);
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    width: 70%;
    margin-left: 5px;
}

.grid > div.card .post-header p {
    color: var(--app-dark-text-color);
    font-size: 15px;
    font-weight: 400;
}

.grid > div.card .post-body > * {
    margin-bottom: 10px;
}

.message {
    width: 100%;
    height: 40px;
    display: grid;
    align-items: center;
    text-align: center;
}

.message p {
    opacity: 0;
    font-size: 14px;
    animation: disappear 5s ease-in-out;
}

.message p.invalid {
    color: var(--app-red);
}

/**************************************************/
/*****       Animations                      ******/
/**************************************************/

@keyframes appear {
    from {
        opacity: 0;
        transform: translate(0px, 10px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}